:root {
  --app-footer-heit: 60px;
  --app-main-height: calc(100vh - 56px - var(--app-footer-heit));
}

.main-min-height {
  min-height: var(--app-main-height);
}

.App {
  text-align: center;
}
.App main {
  min-height: var(--app-main-height);
}

.App footer {
  height: var(--app-footer-heit);
}
